.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
  white-space: pre-line;
  text-align: justify;
  text-align-last: justify;
}

.crawlContainer {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(45deg)  translateZ(0);
  }
	100% { 
    top: -3000px;
    transform: rotateX(45deg) translateZ(-2500px);
  }
}